{:paths ["src" "resources"]
 :deps  {org.clojure/clojure        #:mvn{:version "1.10.1"},
         ring                       #:mvn{:version "1.8.0"},
         ring/ring-jetty-adapter    #:mvn{:version "1.8.0"},
         metosin/reitit             #:mvn{:version "0.4.2"},
         metosin/ring-http-response #:mvn{:version "0.9.1"}}
 :aliases {:run {:main-opts []}}}